# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Jupyter/IPython
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs and databases
*.log
*.sql
*.sqlite

# OS generated
.DS_Store
Thumbs.db

# Project-specific (large outputs)
models/
videos/
debug/
runs/
